/* Footer Styles */
.footer {
  background-color: #37517e;
  padding: 60px 0;
  color: #ffffff;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer .footer-about {
  text-align: left;
}

.footer .footer-about img {
  max-width: 150px;
  margin-bottom: 20px;
}

.footer-contact {
  font-size: 14px;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-contact .mt-3 {
  margin-top: 10px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links h4 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
}

.footer .footer-links ul {
  list-style-type: none;
  padding-left: 0;
}

.footer .footer-links ul li {
  margin-bottom: 10px;
}

.footer .footer-links ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .footer-links ul li a:hover {
  color: #dc5c1c;
}

.social-links a {
  color: #ffffff;
  font-size: 22px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #dc5c1c;
}

.footer .copyright {
  background-color: #222;
  padding: 20px 0;
  color: #fff;
}

.footer .copyright p {
  font-size: 14px;
  margin: 0;
}

.footer .sitename {
  font-weight: bold;
}

@media (max-width: 767px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .footer-about,
  .footer .footer-links {
    margin-bottom: 30px;
    text-align: center;
  }

  .footer .footer-links {
    width: 100%;
  }

  .footer .footer-about img {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .footer .footer-contact p {
    font-size: 13px;
  }
}
